<form [formGroup]="taskForm" (ngSubmit)="taskForm.valid && onButtonPress()" *ngIf="categoryOptions !== []">
  <app-text-input
    [formControl]="$any(taskForm.controls['name'])"
    [label]="'Name'"
    [type]="'text'">
  </app-text-input>
  <app-text-input
    [formControl]="$any(taskForm.controls['description'])"
    [label]="'Description'"
    [type]="'text'">
  </app-text-input>
  <app-dropdown-input
    [formControl]="$any(taskForm.controls['categoryId'])"
    [label]="'Category'"
    [options]="categoryOptions"
    (valueChanged)="onCategoryChange($event)">

  </app-dropdown-input>
  <app-dropdown-input
    [formControl]="$any(taskForm.controls['groupId'])"
    [label]="'Group'"
    [options]="groupOptions"
    (valueChanged)="onGroupChange($event)">

  </app-dropdown-input>

  <div class="text-center">
    <button
      [disabled]="!taskForm.valid"
      class="btn btn-success me-2"
      type="submit">
      {{buttonText}}
    </button>
  </div>
</form>
